{
  "openapi": "3.1.0",
  "info": {
    "title": "EPAdossier API",
    "description": "REST API voor integratie met EPAdossier platform - project leads, dossiers en meer",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.epadossier.nl/api/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/projects": {
      "post": {
        "summary": "Project Lead Submission",
        "description": "Stuur een nieuwe project lead naar EPAdossier. De geconfigureerde flow (zoals automatisch dossier aanmaken of link versturen) wordt direct na succesvolle API-aanroep uitgevoerd.",
        "operationId": "createProjectLead",
        "tags": ["Projects"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectLeadRequest"
              },
              "example": {
                "type": "individual",
                "customerName": "Jan Janssen",
                "customerEmail": "jan@example.com",
                "price": 349.0,
                "source": "website",
                "postalCode": "5541VJ",
                "houseNumber": "3",
                "place": "Reusel",
                "street": "Beukenlaan"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project lead succesvol aangemaakt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectLeadResponse"
                },
                "example": {
                  "success": true,
                  "projectId": "nanoid_12345",
                  "projectNumber": "PRJ-2025-001"
                }
              }
            }
          },
          "400": {
            "description": "Ongeldige request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Ongeldige of ontbrekende API sleutel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit overschreden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Interne server fout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/plant/webhook": {
      "post": {
        "description": "Information about a new plant added to the store",
        "requestBody": {
          "description": "Plant added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ProjectLeadRequest": {
        "type": "object",
        "required": ["type", "customerName", "price", "source"],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "individual",
              "energy_label",
              "inspection",
              "consultation"
            ],
            "description": "Project type",
            "example": "individual"
          },
          "customerName": {
            "type": "string",
            "description": "Volledige naam van de klant",
            "example": "Jan Janssen"
          },
          "customerEmail": {
            "type": "string",
            "format": "email",
            "description": "E-mailadres van de klant",
            "example": "jan@example.com"
          },
          "customerPhone": {
            "type": "string",
            "description": "Telefoonnummer van de klant",
            "example": "+31 6 12345678"
          },
          "price": {
            "type": "number",
            "format": "float",
            "description": "Totaalbedrag voor de aanvraag",
            "example": 349.0
          },
          "source": {
            "type": "string",
            "enum": [
              "website",
              "referral",
              "direct",
              "advertisement",
              "social_media",
              "partner"
            ],
            "description": "Bron van de lead",
            "example": "website"
          },
          "postalCode": {
            "type": "string",
            "description": "Postcode (bijv. 1234AB)",
            "example": "5541VJ"
          },
          "houseNumber": {
            "type": "string",
            "description": "Huisnummer",
            "example": "3"
          },
          "addition": {
            "type": "string",
            "description": "Toevoeging",
            "example": "A"
          },
          "place": {
            "type": "string",
            "description": "Woonplaats",
            "example": "Reusel"
          },
          "street": {
            "type": "string",
            "description": "Straatnaam",
            "example": "Beukenlaan"
          },
          "remarks": {
            "type": "string",
            "description": "Optionele opmerkingen bij de aanvraag",
            "example": "Klant heeft voorkeur voor ochtend afspraken"
          }
        }
      },
      "ProjectLeadResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Geeft aan of de aanvraag succesvol was",
            "example": true
          },
          "projectId": {
            "type": "string",
            "description": "Unieke identifier van het aangemaakte project",
            "example": "nanoid_12345"
          },
          "projectNumber": {
            "type": "string",
            "description": "Mensvriendelijke projectnummer",
            "example": "PRJ-2025-001"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["success", "error"],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Geeft aan of de request succesvol was",
            "example": false
          },
          "error": {
            "type": "string",
            "description": "Foutcode",
            "example": "INVALID_REQUEST"
          },
          "message": {
            "type": "string",
            "description": "Mensvriendelijke foutbeschrijving",
            "example": "Ongeldig e-mailadres opgegeven"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API sleutel voor authenticatie. Verkrijg deze in je EPAdossier account instellingen."
      }
    }
  }
}
